@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

h1,h2,h3,h4{
  font-weight: 600 !important;
  margin-bottom: 15px !important;
}
header{
  position: fixed;
  width: 100%;
  padding: 10px 0
}

.logo img{
  filter: drop-shadow(2px 1px 0px white);
  max-width: 68px;
}

.section_bg {
  background: #FF8465;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

h2.pg_title {
  font-size: 30px;
  color: #fff;
  /* text-transform: uppercase; */
}

.register {
  max-width: 400px;
}

input,select,textarea {
  background: rgba(255,255,255,.2);
  border: 1px solid #fff;
  width: 100%;
  height: 40px;
  margin-bottom: 10px !important;
  padding: 10px;
  line-height: -31px;
}

input:focus, select:focus,textarea:focus{
  outline: 0;
}

::placeholder {
  color: #f3eded;
  font-size: 14px;
  font-style: italic;
}

select{
  color: #fff !important;
}

option{
  font-size: 14px;
  color: #000;
}


i {
  position: absolute;
  right: 10px;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
}

.input_wrap {
  height: 40px;
  margin-bottom: 10px;
  position: relative;
}

/* input[type="text"]:disabled {
  background: #ccc;
} */

button {
  background: #CF450E;
  padding: 10px 30px;
  border: 1px solid transparent;
  text-transform: uppercase !important;
  color: #fff !important;
  font-size: 16px !important;
}

.login a{
  color: #CF450E
}

.form_section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.form_section>div{
  width: 50%;
  z-index: 1
}

.text_block{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-right: 20%;
}

.text_block img{
  max-width: 400px;
  animation: buzz-out-on-hover 5s ease infinite;
}

.text_block h1 {
  font-size: 50px;
  font-weight: 700 !important;
  color: #fff;
  margin-bottom: 10px !important;
}

.text_block p {
  color: #3f3d56;
  font-size: 20px;
  margin-left: 20px;
  line-height: 25px;
}

.login img{
  animation: none;
  max-width: 230px;
}

.error {
  color: red;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
}

@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(0);
    transform: translateX(3px) rotate(0);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(0);
    transform: translateX(-3px) rotate(0);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(0);
    transform: translateX(3px) rotate(0);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(0);
    transform: translateX(3px) rotate(0);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(0);
    transform: translateX(-3px) rotate(0);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(0);
    transform: translateX(3px) rotate(0);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

#register .text_block{
  position: relative;
}

#register .text_block::before{
  background: url(./images/map-path.png) no-repeat;
  background-size: contain;
  position: absolute;
  right: -80%;
  width: 100%;
  content: '';
  height: 100%;
  z-index: 0;
  bottom: 20%;
  opacity: 0.3;
}