.parent{
    display: flex;
}

.restaurantCard{
    border: 1px solid lightgrey;
    height: 280px;
    width: 277px;
    margin: 5px;
    font-weight: bold;
    color: 	#5A5A5A;
}

.cardContent{
    display: flex;
}

.boxContent{
    display: flex;
    margin: 5px;
}

.cardIcon{
    display: flex;
}