header {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  background-color: rgb(222, 222, 235);
}
.header_wrap {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 52px;
}

li {
  list-style: none;
}

.logo {
  flex-grow: 1;
}
.logo span {
  font-weight: bold;
  font-size: 40px;
  color: #cf450e;
  letter-spacing: 2px;
  padding: 20px;
}

ul.nav_list li {
  display: inline-block;
  padding: 0px 6px;
  margin: 0 5px;
}

.right_nav {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
}
